<h1 class="title">New Blog</h1>

<%= form_with(url: blogs_path, method: :post, local: true, multipart: true, class: "form") do |form| %>
  <div class="form-group">
    <%= form.label :audio_file %>
    <%= form.file_field :audio_file, class: 'form-control-file' %>
    <p>音源のサイズは25MBでお願いします。</p>
    <p>できるだけ発表の前後の音声はカットするようにしてください。</p>

    <%= form.label :pdf_file %>
    <%= form.file_field :pdf_file, class: 'form-control-file' %>

    <%= form.label :content %>
    <%= form.text_area :content, class: 'form-control', rows: 1 %> についての発表です。
    <p>何がテーマの発表かズバリひとことで教えてください。細かい方が良いです。</p>
    <p>例）RDS、PHP、チームビルディング</p>

  </div>

  <%= form.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
